<script>
  const defaultRounds = [8, 4, 2, 1]

  export default {
    name: 'bracket-generator',
    props: {
      quarterfinals: {
        type: Array,
        default: function() {
          return [
            {team_a: {title: ''}, team_b: {title: ''}, team_a_score: '', team_b_score: ''},
            {team_a: {title: ''}, team_b: {title: ''}, team_a_score: '', team_b_score: ''},
            {team_a: {title: ''}, team_b: {title: ''}, team_a_score: '', team_b_score: ''},
            {team_a: {title: ''}, team_b: {title: ''}, team_a_score: '', team_b_score: ''}
          ]
        }
      },
      semifinals: {
        type: Array,
        default: function() {
          return [
            {team_a: {title: ''}, team_b: {title: ''}, team_a_score: '', team_b_score: ''},
            {team_a: {title: ''}, team_b: {title: ''}, team_a_score: '', team_b_score: ''}
          ]
        }
      },
      finals: {
        type: Array,
        default: function() {
          return [
            {team_a: {title: ''}, team_b: {title: ''}, team_a_score: '', team_b_score: ''}
          ]
        }
      },
      bracketSize: {
        type: Number,
        default: 8
      },
      matchStyle: {
        type: Object,
        default: () => ({
          border: '2px solid green',
          width: '100%',
          height: '30px',
          position: 'relative'
        })
      }
    },
    data(){
      return {
        matchesPresent: false,
        quarterfinalsMatches: [],
        semifinalsMatches: [],
        finalsMatches: [],
      }
    },
    computed: {
      rounds () {
        return [
          {stage: 8, teams: this.normalizeMatchesResults(this.quarterfinals)},
          {stage: 4, teams: this.normalizeMatchesResults(this.semifinals)},
          {stage: 2, teams: this.normalizeMatchesResults(this.finals)},
          {stage: 1, teams: this.setWinnerTeam(this.finals)}
        ]
      }
    },
    created() {
      if (this.quarterfinals.length > 0) {
        this.matchesPresent = true
      }
    },
    methods: {
      normalizeMatchesResults(matches) {
        let normalizedMatches = []
        matches.map(match => {
          normalizedMatches.push({teamTitle: match.team_a.title, score: match.team_a_score, matchId: match.id})
          normalizedMatches.push({teamTitle: match.team_b.title, score: match.team_b_score, matchId: match.id})
        })

        return normalizedMatches
      },
      defaultValuesForMatches(count) {
        defaultMatches = []
        for (i = 1; i <= count; i++) {
          defaultMatches.push({teamTitle: '', score: ''})
        }
      },
      setWinnerTeam(finals) {
        let match = finals[0]
        if (!match) { return {teamTitle: '', score: ''} }
        if (match.winner_team_id == match.team_a.id) {
          return [{teamTitle: match.team_a.title, score: ''}]
        } else {
          return [{teamTitle: match.team_b.title, score: ''}]
        }
      }
    }
  }
</script>

<template>
  <div v-if="matchesPresent" class="tournament-brackets">
    <div class="bracket">
      <template v-for="(round, index) in rounds">
        <div class="round" :key="index" :class="['round-' + round.stage]">
          <template v-for="(team, teamIndex) in round.teams">
            <div class="match" :key="matchIndex">
              <div class="match__content" :style="matchStyle">
                {{team.teamTitle}} - {{team.score}}
              </div>
            </div>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<style>
*,
*::after,
*::before {
  box-sizing: border-box;
}

.bracket {
  display: flex;
}

.round {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.round:first-child .match::before {
  display: none;
}

.round:first-child .match__content::before {
  display: none;
}

.round:last-child .match::after {
  display: none;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  padding: 6px 0;
  flex-grow: 1;
  position: relative;
}

.match::before {
  content: "";
  display: block;
  min-height: 30px;
  border-left: 2px solid purple;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -15px;
  margin-left: -2px;
}

.match:nth-child(odd)::after {
  content: "";
  display: block;
  border: 2px solid transparent;
  border-top-color: purple;
  border-right-color: purple;
  height: 50%;
  position: absolute;
  right: -10px;
  width: 10px;
  top: 50%;
}

.match:nth-child(even)::after {
  content: "";
  display: block;
  border: 2px solid transparent;
  border-bottom-color: purple;
  border-right-color: purple;
  height: 50%;
  position: absolute;
  right: -10px;
  width: 10px;
  bottom: 50%;
}

.match__content::before {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid purple;
  margin-left: -2px;
  position: absolute;
  top: 50%;
  left: -10px;
}
</style>
