<template>
  <div id='app'>
    <button @click="createTournament">Create tournament</button>
    <tournaments-list></tournaments-list>
  </div>
</template>

<script>
  import tournamentsList from './tournaments/List'
  import axios from 'axios'

  export default {
    components: {tournamentsList: tournamentsList},
    methods: {
      createTournament() {
        let date = new Date()
        let minutes = date.getMinutes()
        let params = {
          tournament: {
            title: `World Cup ${minutes}`,
            teams: this.mockTeams()
          }
        }

        axios.post(`/api/v1/tournaments`, params)
             .then(response => {
                console.log('create success')
             })
      },
      mockTeams() {
        let teams = []
        for (var i = 0; i < 16; i++) {
          teams.push({title: `Team ${i + 1}`})
        }

        return teams
      }
    }
  }
</script>

<style scoped>
  p {
    font-size: 2em;
    text-align: center;
  }
</style>
