<template>
  <div class="card">
    <div class="card-body">
      <form @submit.prevent="onSubmit">
        <div class="form-group">
          <label for="team_a_score">
            {{editingMatch.team_a.title}}
          </label>
          <input type="text"
                 class="form-control"
                 id="team_a_score"
                 required
                 maxlength="3"
                 v-model="editingMatch.team_a_score"
          >
          <label for="team_b_score">
            {{editingMatch.team_b.title}}
          </label>
          <input type="text"
                 class="form-control"
                 id="name"
                 required
                 maxlength="3"
                 v-model="editingMatch.team_b_score"
          >
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>

    </div>
  </div>
</template>

<script>

  /*
    // Structure variables
      inputRow = { id: '1', name: 'Name', ... }
  */
  import axios from 'axios'

  export default {
    name: 'match-form',
    props: ['match'],
    data() {
      return {
        columns: ['id', 'name'],
        errors: {id: null, name: null},
        editingMatch: null,
        id: null
      }
    },
    created() {
      this.editingMatch = this.match
      console.log(this.editingMatch)
    },
    methods: {
      onSubmit() {
        this.updateMatch();
      },
      getQueryParams() {
        let qParams = Object.assign({}, this.match);
        return {
          match: {...qParams}
        }
      },
      updateMatch() {
        let qParams = this.getQueryParams();

        axios.put(`api/v1/matches/${this.match.id}`, qParams)
          .then(response => {
            console.log('Update success')
          })
          .catch(error => {
            this.handleError(error)
          })
      },
      handleError(error) {
        let errorData = error.response.data;

        if (errorData && errorData.errors) {
          this.errors = errorData.errors
        } else {
          console.log(errorData);
        }
      }

    },
  };
</script>
