<template>
  <div id="group-matches">
    <table class="table">
      <thead>
      <tr>
        <th>
          {{division}} matches
        </th>
        <th><!--tools column--></th>
      </tr>
      </thead>
      <tbody>
        <td>
          <tr v-for="teamResult in selectedResults">
            <td class="team-title">{{ teamResult.teamTitle }}</td>
            <span v-for="match in teamResult.results">
              <td>| <input type="text" class="score-input" :value="match.score"> - <input type="text" class="score-input" :value="match.team_b_score"> - {{match.team_b.title}} <button @click="editMatch(match.id)">Edit</button></td>
            </span>
            <td class="team-totals">Total score: {{ normalizeTotalScore(teamResult.totalScore) }}</td>
          </tr>
        </td>
      </tbody>
    </table>
    <modal name="hello-world" v-if="modalShow">
      <match-form :match="matchToEdit"></match-form>
    </modal>
  </div>
</template>

<script>
  import matchForm from '../matches/Editor'

  export default {
    name: 'group-matches-list',
    components: {matchForm},
    props: {
      matches: {},
      teams: {},
      division: '',
    },
    created() {
      this.teams.forEach(team => {
        this.selectTeamMatches(team)
      })
    },
    data() {
      return {
        selectedResults: [],
        matchToEdit: {
          team_a: {title: ''},
          team_b: {title: ''},
          team_a_score: '',
          team_b_score: ''
        },
        modalShow: false
      }
    },
    methods: {
      selectTeamMatches(team) {
        let teamId = team.id
        let selected = []
        let totalScore = 0
        this.matches.forEach(match => {
          if (match.team_a.id == teamId) {
            selected.push({
              id: match.id,
              winner_team_id: match.winner_team_id,
              score: match.team_a_score,
              team_b_score: match.team_b_score,
              team_b: match.team_b
            })

            totalScore = totalScore + parseInt(match.team_a_score)
          } else if (match.team_b.id == teamId) {
            selected.push({
              id: match.id,
              winner_team_id: match.winner_team_id,
              score: match.team_b_score,
              team_b_score: match.team_a_score,
              team_b: match.team_a
            })

            totalScore = totalScore + parseInt(match.team_b_score)
          }
        })
        this.selectedResults.push({teamTitle: team.title, results: selected, totalScore: totalScore})
      },
      editMatch(id) {
        let match = this.matches.filter(function(match) {
          return match.id == id
        })
        this.matchToEdit = match[0]
        console.log(this.modalShow)
        this.modalShow = true
        this.$modal.show('hello-world');
      },
      normalizeTotalScore(total) {
        if (total) {
          return total
        } else {
          return ''
        }
      }
    }
  }
</script>

<style scoped>
  p {
    font-size: 2em;
    text-align: center;
  }

  .team-title {
    width: 80px;
    font-weight: bold;
  }

  .team-totals {
    width: 170px;
    font-weight: bold;
    text-align: right;
  }

  .score-input {
    width: 20px;
  }
</style>
