<template>
  <div>
<!--     <div id="group-teams-list">
      <group-teams-list :teams="division1_teams" division="Division1">
      </group-teams-list>

      <group-teams-list :teams="division2_teams" division="Division2">
      </group-teams-list>
    </div> -->
    <div>
      <button @click="fillAll">Fill all</button>
<!--       <button v-if="groupTeamsNotDefined" @click="fillScores('group')">Fill in scores for group matches</button>
      <button v-if="quaterfinalsMatchesNotDefined" @click="fillScores('quarterfinals')">Fill in scores for quarterfinals matches</button>
      <button v-if="semifinalsMatchesNotDefined" @click="fillScores('semifinals')">Fill in scores for semifinals matches</button>
      <button v-if="finalsMatchesNotDefined" @click="fillScores('finals')">Fill in scores for finals matches</button> -->
    </div>
<!--     <div>
      <button @click="definePlayoffTeams">Define playoff teams</button>
      <button @click="defineNextStageTeams('quarterfinals')">Define quarterfinals teams</button>
      <button @click="defineNextStageTeams('semifinals')">Define semifinals teams</button>
    </div> -->
    <div id="group-matches-list">
      <group-matches-list :matches="division1_matches" :teams="division1_teams" division="Division1" >
      </group-matches-list>

      <group-matches-list :matches="division2_matches" :teams="division2_teams" division="Division2">
      </group-matches-list>
    </div>
  </div>
</template>

<script>
  import groupMatchesList from './GroupMatchesList'
  import groupTeamsList from './GroupTeamsList'
  import axios from 'axios'


  export default {
    name: 'group-matches',
    components: {groupMatchesList: groupMatchesList, groupTeamsList: groupTeamsList},
    props: {
      tournament: {},
      tournamentId: null,
      division1_matches: {},
      division2_matches: {},
      division1_teams: {},
      division2_teams: {}
    },
    created() {
      console.log(this.tournament)
    },
    methods: {
      fillAll() {
        let params = {"tournament_id": this.tournamentId}
        axios.post(`/api/v1/tournament_scores/fill_all/`, params)
             .then(response => {
                console.log('create success')
             })
      },
      fillScores(stage) {
        let params = {"tournament_id": this.tournamentId, "stage": stage}
        axios.post(`/api/v1/tournament_scores/fill_scores/`, params)
             .then(response => {
                console.log('create success')
             })
      },
      definePlayoffTeams() {
        let params = {"tournament_id": this.tournamentId}
        axios.post(`/api/v1/playoff_teams/`, params)
             .then(response => {
                console.log('create success')
             })
      },
      defineNextStageTeams(stage) {
        let params = {"tournament_id": this.tournamentId, stage: stage}
        axios.post(`/api/v1/playoff_teams/next_stage`, params)
             .then(response => {
                console.log('create success')
             })
      },
      groupTeamsNotDefined() {
        if (this.division1_teams.length == 0 && this.division2_teams.length == 0) {
          return true
        } else {
          return false
        }
      },
      quaterfinalsMatchesNotDefined() {
        if (this.tournament.quarterfinals_matches.length == 0) {
          return true
        } else {
          return false
        }
      },
      semifinalsMatchesNotDefined() {
        if (this.tournament.semifinals_matches.length == 0) {
          return true
        } else {
          return false
        }
      },
      finalsMatchesNotDefined() {
        if (this.tournament.finals_matches.length == 0) {
          return true
        } else {
          return false
        }
      },
    }
  }
</script>

<style scoped>
  p {
    font-size: 2em;
    text-align: center;
  }
</style>
