<template>
  <div id="group-teams">
    <table class="table">
      <thead>
      <tr>
        <th>
          {{division}} team title
        </th>
        <th><!--tools column--></th>
      </tr>
      </thead>
      <tbody>
        <td>
          <tr v-for="team in teams">
            {{ team.title }}
          </tr>
        </td>
      </tbody>
    </table>
    </div>
</template>

<script>
  export default {
    name: 'group-teams-list',
    props: {
      teams: {},
      division: ''
    }
  }
</script>

<style scoped>
  p {
    font-size: 2em;
    text-align: center;
  }
</style>
