<template>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>
          Tournament title
        </th>
        <th><!--tools column--></th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="tournament in tournaments">
          <span>{{ tournament.title }}</span>
          <button @click="findTournament(tournament.id)">Open</button>
          <button @click="deleteTournament(tournament.id)">Delete</button>
        </tr>
      </tbody>
    </table>
    <group-matches
                v-if="currentTournament"
                :tournamentId="currentTournament.id"
                :tournament="currentTournament"
                :division1_teams="currentTournament.division1_teams"
                :division2_teams="currentTournament.division2_teams"
                :division1_matches="currentTournament.division1_matches"
                :division2_matches="currentTournament.division2_matches"
    >
    </group-matches>

    <bracket-generator
      v-if="currentTournament"
      :quarterfinals="currentTournament.quarterfinals_matches"
      :semifinals="currentTournament.semifinals_matches"
      :finals="currentTournament.finals_matches"
    >
    </bracket-generator>
  </div>
</template>

<script>
  import axios from 'axios'
  import groupMatches from './GroupMatches'
  import groupTeamsList from './GroupTeamsList'
  import bracketGenerator from '../BracketGenerator'


  export default {
    name: 'tournaments-list',
    components: {groupMatches: groupMatches, groupTeamsList: groupTeamsList, bracketGenerator: bracketGenerator},
    data(){
      return {
        tournaments: [],
        currentTournament: null
      }
    },
    methods: {
      fetchTournaments() {
        axios.get('/api/v1/tournaments')
             .then(response => {
                this.tournaments = response.data;
             })
      },
      findTournament(id) {
        axios.get(`/api/v1/tournaments/${id}`)
             .then(response => {
                this.currentTournament = response.data;
                console.log(this.currentTournament)
             })
      },
      deleteTournament(id) {
        axios.delete(`/api/v1/tournaments/${id}`)
             .then(response => {
                console.log(this.currentTournament)
             })
      }
    },
    created() {
      this.fetchTournaments();
    }
  }
</script>

<style scoped>
  p {
    font-size: 2em;
    text-align: center;
  }
</style>
